/* リセットCSS */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: #111111;
}


/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}


/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: #333;
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: .8px;
    word-break: break-all;
    max-width: 100%;
}

a {
    color: #1ca9e3;
    text-decoration: none;
}

a:hover,
a:hover img {
    opacity: .8;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

img,
video,
object {
    max-width: 100%;
    height: auto;
    border: none;
    vertical-align: bottom;
    display: block;
}

ul,
li {
    list-style: none;
}


/*--------------------------------
　全体
---------------------------------*/

#wrapper {
    background-color: #fff;
}

.inner {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}


/* body */

.inner {
    width: 980px;
    margin: 0 auto;
    position: relative;
}

.inner:after {
    content: "";
    clear: both;
    display: block;
}

.fa-guitar {
    line-height: 50px;
}

body {
    background: linear-gradient(270deg, #b48f47, #bf8bd1, #69cbc1, #bf8bd1, #b48f47);
    background-size: 1000% 1000%;
    -webkit-animation: background 30s ease infinite;
    -moz-animation: background 30s ease infinite;
    -o-animation: background 30s ease infinite;
    animation: background 30s ease infinite;
}

@-webkit-keyframes background {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes background {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes background {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes background {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}


/*--------header-----------*/

#top-head {
    top: -100px;
    position: absolute;
    width: 100%;
    margin: 100px auto 0;
    padding-top: 30px;
    line-height: 1;
    z-index: 999;
}

#top-head a,
#top-head {
    color: #fff;
    text-decoration: none;
}

#top-head .inner {
    position: relative;
}

#top-head .logo {
    float: left;
    position: relative;
    font-size: 36px;
    height: 50px;
}

#top-head .logo a {
    position: absolute;
    width: 100%;
    height: 50px;
}

#global-nav ul {
    list-style: none;
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 14px;
    font-family: 'Cormorant Garamond', serif;
}

#global-nav ul li {
    float: left;
    padding: 0 30px;
    border-left: 1px solid #000;
}

#global-nav ul li a {
    padding: 5px 5px;
    position: relative;
    display: inline-block;
}

#global-nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    background-color: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

#global-nav ul li a:hover::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

nav span {
    background: #666;
    height: 2px;
    display: block;
    position: relative;
    width: 50px;
    left: 0;
}


/*--------固定化されたときのCSS-----------*/

#top-head.fixed {
    margin-top: 0;
    top: 0;
    position: fixed;
    padding: 0;
    background: rgba(255, 255, 255, .7);
    transition: top 0.65s ease-in;
    -webkit-transition: top 0.65s ease-in;
    -moz-transition: top 0.65s ease-in;
}

#top-head.fixed .logo {
    position: relative;
    font-size: 28px;
    color: #333;
}

#top-head.fixed .logo a {
    position: absolute;
    width: 100%;
    height: 10px;
}

#top-head.fixed #global-nav ul li a {
    color: #333;
    padding: 0 20px;
    ;
}


/*-----------スマホのトグルボタンのCSS-------------*/

#nav-toggle {
    display: none;
    position: absolute;
    right: 12px;
    top: 14px;
    width: 34px;
    height: 36px;
    cursor: pointer;
    z-index: 101;
}

#nav-toggle div {
    position: relative;
}

#nav-toggle span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #000;
    left: 0;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}

#nav-toggle span:nth-child(1) {
    top: 0;
}

#nav-toggle span:nth-child(2) {
    top: 11px;
}

#nav-toggle span:nth-child(3) {
    top: 22px;
}


/*--------------------------------
　id header
---------------------------------*/

#header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    height: 450px;
    padding-top: 250px;
}

#header .logo {
    display: block;
}

.logo-desc {
    font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    display: block;
    font-size: 40px;
    letter-spacing: .2em;
    text-align: center;
    color: #fff;
}

.center-outer {
    display: table;
    width: 100%;
    height: 100%;
}

.center-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


/* bubblesアニメーション */

.bubbles {
    display: inline-block;
    font-family: arial;
    position: relative;
}

.bubbles h1 {
    position: relative;
    margin: 1em 0 0;
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    z-index: 2;
    line-height: 1;
    letter-spacing: .1em;
    font-size: 88px;
}

.individual-bubble {
    position: absolute;
    border-radius: 100%;
    bottom: 10px;
    background-color: #fff;
    z-index: 1;
}


/* イラストボタン*/

.logo-button {
    display: block;
    font-size: 20px;
    letter-spacing: .2em;
    text-align: center;
    color: #fff;
    padding-bottom: 200px;
}

.button {
    display: inline-block;
    padding: .2em 2.5em;
    border: 2px solid #333;
    border-radius: .4em 2em .5em 3em/3em .5em 2em .5em;
    color: #333;
    font-family: 'Covered By Your Grace', cursive;
    font-weight: 400;
    text-decoration: none;
}


/*--------------------------------
　Section
---------------------------------*/

.section .inner {
    padding: 50px 10px;
}

.section .section-title-block {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section .section-title {
    font-family: 'Cormorant Garamond', serif;
    text-transform: lowercase;
    letter-spacing: .2em;
    display: inline-block;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 10px;
    color: #333;
}

.section .section-desc {
    text-align: center;
}

.two-column-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.two-column-image {
    width: 33%;
}

.two-column-image img {
    margin: 0 auto;
}

.two-column-desc {
    width: 62%;
}


/*--------------------------------
　#profiles #skills #contacts
---------------------------------*/

.two-column-image {
    width: 48%;
}

.two-column-desc {
    width: 48%;
}


/* 文字立体 */

.profile {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    font-weight: 700;
}

.profile span {
    display: inline-block;
    position: relative;
    transform-style: preserve-3d;
    perspective: 500px;
    -webkit-font-smoothing: antialiased;
}

.profile span::before,
.profile span::after {
    display: none;
    position: absolute;
    top: 0;
    left: -1px;
    transform-origin: left top;
    transition: all ease-out .3s;
    content: attr(data-text);
}

.profile span::before {
    z-index: 1;
    color: rgba(0, 0, 0, 0.2);
    transform: scale(1.1, 1) skew(0deg, 20deg);
}

.profile span::after {
    z-index: 2;
    color: #333;
    text-shadow: -1px 0 1px #333, 1px 0 1px #fff;
    transform: rotateY(-40deg);
}

.profile span:hover::before {
    transform: scale(1.1, 1) skew(0deg, 5deg);
}

.profile span:hover::after {
    transform: rotateY(-10deg);
}

.profile span+span {
    margin-left: .3em;
}


/* レスポンシブ */

@media (min-width: 20em) {
    .profile {
        font-size: 2em;
    }
    .profile span::before,
    .profile span::after {
        display: block;
    }
}

@media (min-width: 30em) {
    .profile {
        font-size: 35px;
    }
}

@media (min-width: 40em) {
    .profile {
        font-size: 45px;
    }
}

@media (min-width: 60em) {
    .profile {
        font-size: 50px;
    }
}


/* 画像 */

figure:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

figure img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    border-radius: 50%;
}


/*--------------------------------
 contact
---------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #333;
    font-size: 0.575em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: #fff;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #333;
    font-size: 0.575em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: #fff;
}

input::placeholder,
textarea::placeholder {
    color: #333;
    font-size: 0.575em;
}

input:focus::placeholder,
textarea::focus:placeholder {
    color: #fff;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
    color: #333;
    font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
    color: #fff;
}


/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
    color: #333;
    font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
    color: #fff;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
    color: #333;
    font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
    color: #fff;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: #333;
    font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
    color: #fff;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: #333;
    font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
    color: #fff;
}

body {
    font-family: 'Lato', sans-serif;
}

#form {
    position: relative;
    width: 470px;
    margin: 50px auto 100px auto;
}

input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #333;
    border: solid 1px #333;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

input:hover {
    color: #333;
}

textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    border: solid 1px #333;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
    color: #333;
}

#submit {
    width: 470px;
    padding: 0;
    margin: -10px 0px 0px 0px;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #333;
    outline: none;
    cursor: pointer;
    border: solid 1px #333;
    border-top: none;
}


/*--------------------------------
 Footer
---------------------------------*/

#footer {
    background-color: #333;
}

#footer .inner {
    padding: 30px;
}

#footer .footer-link ul {
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: .1em;
    text-transform: lowercase;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

#footer .footer-link li {
    font-size: 12px;
    padding: 0 20px;
}

#footer .footer-link li a {
    color: #fff;
    font-weight: bold;
}

#footer .copyright {
    font-size: 10px;
    color: #8c8c8c;
    text-align: center;
}


/*------------タブレット用------------------*/


/*--------------------------------
 header
---------------------------------*/

@media screen and (max-width: 1024px) {
    #header {
        height: 300px;
        padding-top: 150px;
    }
    .bubbles h1 {
        font-size: 70px;
    }
    #header .logo-desc {
        font-size: 10px;
    }
    .head-inner {
        display: none;
    }
    .slick-next {
        right: 0;
    }
    #top-head,
    .inner {
        width: 100%;
        padding: 0;
    }
    #top-head {
        top: 0;
        position: fixed;
        margin-top: 0;
    }
    .fa-guitar {
        line-height: 0;
    }
    /* Fixed reset */
    #top-head.fixed {
        padding-top: 0;
        background: transparent;
    }
    #mobile-head {
        background: #fff;
        width: 100%;
        height: 70px;
        z-index: 999;
        position: relative;
    }
    #top-head.fixed .logo,
    #top-head .logo {
        position: absolute;
        left: 13px;
        height: 50px;
        top: 15px;
        color: #333;
        font-size: 26px;
    }
    #global-nav {
        position: absolute;
        /* 開いてないときは画面外に配置 */
        top: -500px;
        background: #000;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }
    #global-nav ul {
        list-style: none;
        position: static;
        right: 0;
        bottom: 0;
        font-size: 14px;
    }
    #global-nav ul li {
        float: none;
        position: static;
        padding: 18px 0;
        color: #fff;
    }
    #top-head #global-nav ul li a,
    #top-head.fixed #global-nav ul li a {
        width: 100%;
        display: block;
        color: #fff;
        padding: 18px 0;
    }
    #nav-toggle {
        display: block;
        right: 25px;
        top: 20px;
    }
    /* #nav-toggle 切り替えアニメーション */
    .open #nav-toggle span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    .open #nav-toggle span:nth-child(2) {
        width: 0;
        left: 50%;
    }
    .open #nav-toggle span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-315deg);
        -moz-transform: rotate(-315deg);
        transform: rotate(-315deg);
    }
    /* #global-nav スライドアニメーション */
    .open #global-nav {
        /* #global-nav top + #mobile-head height */
        -moz-transform: translateY(556px);
        -webkit-transform: translateY(556px);
        transform: translateY(556px);
    }
    #footer .inner {
        padding: 20px 0;
    }
    #footer .footer-link li {
        font-size: 10px;
        padding: 0 10px;
        margin-bottom: 5px;
    }
}


/*---------gnav sp--------------*/


/*-----------スマホ-------------*/


/*--------------------------------
 header
---------------------------------*/

@media screen and (max-width: 767px) {
    #header {
        height: 250px;
        padding-top: 160px;
    }
    .bubbles h1 {
        font-size: 40px;
    }
    .logo-desc {
        font-size: 30px;
    }
    .head-inner {
        display: none;
    }
    .slick-next {
        right: 0;
    }
    #top-head,
    .inner {
        width: 100%;
        padding: 0;
    }
    #top-head {
        top: 0;
        position: fixed;
        margin-top: 0;
    }
    /* Fixed reset */
    #top-head.fixed {
        padding-top: 0;
        background: transparent;
    }
    #top-head.fixed .logo,
    #top-head .logo {
        position: absolute;
        left: 13px;
        height: 50px;
        top: 15px;
        color: #333;
        font-size: 26px;
    }
    #global-nav {
        position: absolute;
        /* 開いてないときは画面外に配置 */
        top: -500px;
        background: #000;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }
    #global-nav ul {
        list-style: none;
        position: static;
        right: 0;
        bottom: 0;
        font-size: 14px;
    }
    #global-nav ul li {
        float: none;
        position: static;
        padding: 18px 0;
        color: #fff;
    }
    #top-head #global-nav ul li a,
    #top-head.fixed #global-nav ul li a {
        width: 100%;
        display: block;
        color: #fff;
        padding: 18px 0;
    }
    #nav-toggle {
        display: block;
    }
    /* #nav-toggle 切り替えアニメーション */
    .open #nav-toggle span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    .open #nav-toggle span:nth-child(2) {
        width: 0;
        left: 50%;
    }
    .open #nav-toggle span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-315deg);
        -moz-transform: rotate(-315deg);
        transform: rotate(-315deg);
    }
    /* #global-nav スライドアニメーション */
    .open #global-nav {
        /* #global-nav top + #mobile-head height */
        -moz-transform: translateY(556px);
        -webkit-transform: translateY(556px);
        transform: translateY(556px);
    }
    /* section */
    #contents {
        padding: 40px 0;
    }
    .section .inner {
        padding: 30px 15px;
    }
    .section .section-title-block {
        margin-bottom: 10px;
    }
    .section .section-title {
        font-size: 32px;
    }
    .two-column-wrapper {
        width: 100%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .two-column-image {
        width: 60%;
        margin: 0 auto 20px;
    }
    .two-column-desc {
        width: 100%;
    }
    /*--------------------------------
 contact form
---------------------------------*/
    #form {
        width: 300px;
    }
    input {
        font-family: 'Lato', sans-serif;
        font-size: 0.875em;
        width: 300px;
    }
    textarea {
        width: 300px;
        max-width: 300px;
    }
    #submit {
        width: 300px;
    }
    /*--------------------------------
 Footer
---------------------------------*/
    .section .inner {
        padding: 30px 15px;
    }
    .section .section-title-block {
        margin-bottom: 10px;
    }
    .section .section-title {
        font-size: 32px;
    }
    .two-column-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .two-column-image {
        margin: 0 auto 20px;
    }
    /*--------------------------------
 Footer
---------------------------------*/
    #footer .inner {
        padding: 20px 0;
    }
    #footer .footer-link li {
        font-size: 10px;
        padding: 0 10px;
        margin-bottom: 5px;
    }
}